SQL_TSHOOTER_HOST=sqlserver.example.local
SQL_TSHOOTER_PORT=1433
SQL_TSHOOTER_DATABASE=master
SQL_TSHOOTER_AUTH_MODE=sql
SQL_TSHOOTER_USERNAME=readonly_user
SQL_TSHOOTER_PASSWORD=change-me
SQL_TSHOOTER_DRIVER=ODBC Driver 18 for SQL Server
SQL_TSHOOTER_ENCRYPT=true
SQL_TSHOOTER_TRUST_SERVER_CERTIFICATE=false
SQL_TSHOOTER_CONNECTION_TIMEOUT_SECONDS=10
SQL_TSHOOTER_QUERY_TIMEOUT_SECONDS=30
SQL_TSHOOTER_LOG_PATH=C:\Projects\sql-tshooter\logs\sql-tshooter.log
SQL_TSHOOTER_MAX_LOGGED_TOOL_OUTPUT_CHARS=12000
